<div class="page-title">
  <h4>
    <a routerLink="/category">Категории</a>
    <i class="material-icons">keyboard_arrow_right</i>
    {{isNew ? 'Добавить' : 'Редактировать'}}
    категорию
  </h4>
  <span *ngIf="!isNew">
    <button class="btn btn-small red" (click)="deleteCategory()">
      <i class="material-icons">delete</i>
    </button>
  </span>
</div>

<form class="row" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="col s12 l6">
      <div class="input-field">
        <input 
          id="name"
          type="text"
          formControlName="name"
          [ngClass]="{ 'invalid': form.get('name').invalid && form.get('name').touched }"
        >
        <label for="name">Название</label>
        <span
          *ngIf="form.get('name').invalid && form.get('name').touched"
          class="helper-text red-text"
        >
          <span *ngIf="form.get('name').errors['required']">
            Имя категории не может быть пустым.
          </span>
        </span>
      </div>

      <div>
        <input type="file" class="dn" #input (change)="onFileUpload($event)">
        <button
          type="button"
          class="waves-effect waves-light btn orange lighten-2 mb2"
          [disabled]="form.disabled"
          (click)="triggerClick()"
        >
            <i class="material-icons left">backup</i>
            Загрузить изображение
        </button>
      </div>

      <div>
        <button 
          type="submit"
          class="waves-effect waves-light btn"
          [disabled]="form.invalid || form.disabled"
        >
          Сохранить изменения
        </button>
      </div>
  </div>

  <div class="col s12 l4 center">
    <img *ngIf="imagePreview" class="responsive-img h200" [src]="imagePreview">
  </div>
</form>

<app-positions-form *ngIf="category?._id" [categoryId]="category._id"></app-positions-form>
